body {
  background-color: #000000;
  font-family: "Nexa Ligh", sans-serif
}
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
}
#guert {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
}
#footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 65%;
}
.nav {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}
a:link {
  color: #ffffff;
  text-decoration: none;
  font-size:1.5em; 
  font-weight:lighter;    
}
a:visited {
  color: #ffffff;
  text-decoration: none;
  font-size:1.5em; 
  font-weight:lighter;      
}
a:hover {
  color: #0289ba;
  text-decoration: none;
  font-size:1.5em;
  font-weight:lighter;      
}
a:active {
  color: #ffffff;
  text-decoration: none;
  font-size:1.5em;
  font-weight:lighter;      
}
@media screen and (max-width: 720px) {
  #guert {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
  }
  #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
  }
  #footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
  }
  .nav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }
  a:link {
    color: #ffffff;
    text-decoration: none;
    font-size:1.5em; 
    font-weight:lighter;      
  }
  a:visited {
    color: #ffffff;
    text-decoration: none;
    font-size:1.5em; 
    font-weight:lighter;       
  }
  a:hover {
    color: #0289ba;
    text-decoration: none;
    font-size:1.5em; 
    font-weight:lighter;       
  }
  a:active {
    color: #ffffff;
    text-decoration: none;
    font-size:1.5em; 
    font-weight:lighter;       
  }
}
@media screen and (max-width: 380px) {
  #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
  }
  #guert {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
  }
  #footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  .nav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }
  a:link {
    color: #ffffff;
    text-decoration: none;
    font-size:1.5em; 
    font-weight:lighter;       
  }
  a:visited {
    color: #ffffff;
    text-decoration: none;
    font-size:1.5em; 
    font-weight:lighter;       
  }
  a:hover {
    color: #0289ba;
    text-decoration: none;
    font-size:1.5em; 
    font-weight:lighter;       
  }
  a:active {
    color: #ffffff;
    text-decoration: none;
    font-size:1.5em; 
    font-weight:lighter;       
  }
}
@font-face {
	font-family: Nexa;
	src: url("../fonts/Nexa-Light.ttf") format("truetype");
}
